/* h3 tag Style */
h3 {
    text-align: center;
    letter-spacing: 10px;
}


/* form tag Style */
form {
    margin: 0 auto;
}

/* Table bule Style */
.bluetop {
    margin: 0 auto;
    width: 800px;
    border-collapse: collapse;
    border-top: 3px solid #168;
    font-family: D2Coding;
}

.bluetop th {
    color: #168;
    background: #f0f6f9;
}

.bluetop th, .bluetop td {
    padding: 10px;
    border: 1px solid #ddd;
}

.bluetop th:first-child .bluetop td:first-child {
    border-left: 0;
}

.bluetop th:last-child .bluetop td:last-child {
    border-right: 0;
}